@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --roundness: 20px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

/* styling the body */

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background-color: rgb(194, 194, 194);
}

.main {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 2fr 8fr;
  padding: 1rem;
  height: 100%;
}

/* Styling the sidebar */
.sidebar {
  border-top-left-radius: var(--roundness);
  border-bottom-left-radius: var(--roundness);
  background: #000046; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #2495b4, #0d0838); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #2495b4,
    #0d0838
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  grid-row: 1 / -1;
}

.sidebar-list {
  border-radius: inherit;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 40px;
  align-items: start;
}
.center-links {
  align-self: center;
}
.bottom-links {
  align-self: end;
}

.sidebar-link {
  display: grid;
  grid-template-columns: 2fr 5fr;
  justify-items: start;
  align-items: center;
  text-decoration: none;
  color: white;
  padding: 1rem 3rem;
  margin: 0.5rem 0;
  font-size: 1.3rem;
  font-weight: 600;
  transition: 0.2s ease;
}

.sidebar-link.current {
  background-color: rgba(0, 0, 0, 0.2);
  border-left: 4px solid white;
}

.sidebar-link:hover:not(.current) {
  background-color: rgba(0, 0, 0, 0.2);
}
.top-links .sidebar-link:hover {
  background: none;
}
#logo {
  width: 55px;
}

.icon {
  width: 30px;
}
.sidebar-link-icon {
  filter: invert();
}

/* Styling the Header */
.header-cont {
  overflow: hidden;
  display: grid;
  grid-template-columns: minmax(400px, 6fr) 0.5fr 3fr;
  grid-template-rows: 1.5fr calc(100% - 1.5fr);
  border-top-right-radius: var(--roundness);
  background-color: white;
  padding: 0.5rem;
}
/* .header-cont * {
  border: 1px solid black !important;
} */
.header-cont > div {
  display: flex;
  padding: 20px 40px;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
}
.btns-cont {
  justify-content: space-around !important;
  grid-column: 2 / -1;
}
.profile-cont {
  justify-self: end;
}
#search {
  outline: none;
  border: none;
  border-radius: var(--roundness);
  background-color: rgb(226, 226, 226);
  min-width: 70%;
  padding: 10px 30px;
}

.pfp {
  border-radius: 50%;
}
.pfp.small {
  width: 40px;
  height: auto;
}
.name {
  font-size: 1.2rem;
}
.role {
  font-size: 0.8rem;
}
.greeting {
  font-size: 1.6rem;
}
.username {
  font-size: 2rem;
  font-weight: 900;
}
.pfp.big {
  width: 80px;
}

.btn {
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: var(--roundness);
  padding: 0.7rem 2em;
  color: white;
  font-size: 1.2rem;
  background-color: #2495b4;
  box-shadow: 0 0 0 -2px transparent;
}

/* Styling the main content */
.main-content {
  overflow: scroll;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: rgb(225, 229, 240);
  border-bottom-right-radius: var(--roundness);
}
.main-content > div {
  border: 1px solid black;
}
.cards-container {
  grid-column: 1 / -1;
  padding: 4rem;
}
.cards-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 80px;
  flex-flow: row nowrap;
}

.card {
  user-select: none;
  text-align: center;
  padding: 2.5rem 1rem;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(40px);
  border-radius: var(--roundness);
  transition: 0.4s ease;
}
.card-text {
  font-size: 1.4rem;
  font-weight: 600;
}
.card-num {
  font-size: 1.6rem;
  font-weight: 1000;
}
.card:nth-child(1) {
  border: 1px solid green;
}
.card:nth-child(1):hover {
  background-color: rgba(0, 255, 0, 0.03);
}
.card:nth-child(1) > p {
  color: green;
}

.card:nth-child(2) {
  border: 1px solid #009fc7;
}
.card:nth-child(2) > p {
  color: #009fc7;
}
.card:nth-child(2):hover {
  background-color: rgba(0, 174, 255, 0.03);
}

.card:nth-child(3) {
  border: 1px solid #6d00c7;
}
.card:nth-child(3) > p {
  color: #6d00c7;
}
.card:nth-child(3):hover {
  background-color: rgba(162, 0, 255, 0.03);
}

.card:nth-child(4) {
  border: 1px solid #c70000;
}
.card:nth-child(4) > p {
  color: #c70000;
}
.card:nth-child(4):hover {
  background-color: rgba(255, 0, 0, 0.03);
}

.projects-container {
  grid-row: 2 / -1;
  padding: 4rem;
}
.projects-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
}
.project {
  padding: 2rem 4rem;
  background-color: white;
}
